---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=nice_try&base=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error": true,
          "status": 403,
          "message": "not_allowed",
          "description": "Changing `base` currency is only available for Enterprise and Unlimited clients - please upgrade, or contact support@openexchangerates.org with any questions. Thanks!"
        }
  recorded_at: Thu, 19 Nov 2015 02:21:39 GMT
recorded_with: VCR 2.9.3
